@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<style>

    * {
    color:antiquewhite;
    }
    </style>

<h1> New Zealand’s Leading Furniture Manufacturer</h1>
<p>
   
    Finewood Furniture produces quality NZ made furniture, for sale all throughout the country. We produce only the highest quality items and our wooden furniture stands the test of time. Our products are designed in New Zealand to suit the functional requirements of every family home and then some. Our goal is to exceed expectations of quality when it comes to producing New Zealand made furniture. Coastwood is widely trusted and every item we make is backed by our 25 year quality guarantee. We aim to simplify the journey of buying new furniture to enhance your home, by focusing on locally-made quality and affordability. Every New Zealander deserves quality wooden furniture for their home, and we hope to bring a piece of ours into your place.


</p>