
@{
    ViewBag.Title = "Confirmation";
}

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h1>Thanks for the Message! We will contact you soon!</h1>
            <a href="@Url.Action("Index","Home")">Back</a>
        </div>

    </div>
</div>

