@{
    ViewBag.Title = "Home Page";
}

<section id="about-coastwood">
    <div class="container">
        <div class="row m-0">
            <div class="col-md-12 col-lg-6">
                <div class="image">
                    <img src="~/images/home-design.jpg" class="img-responsive" />
                </div>
            </div>
            <div class="col-md-12 col-lg-6">
                <div class="content">
                    <h1>New Zealand’s Leading Furniture Manufacturer</h1>
                    <p>
                        Finewood Furniture produces quality NZ made furniture, for sale all throughout the country. We produce only the highest quality items and our wooden furniture stands the test of time. Our products are designed in New Zealand to suit the functional requirements of every family home and then some. Our goal is to exceed expectations of quality when it comes to producing New Zealand made furniture. Coastwood is widely trusted and every item we make is backed by our 25 year quality guarantee. We aim to simplify the journey of buying new furniture to enhance your home, by focusing on locally-made quality and affordability. Every New Zealander deserves quality wooden furniture for their home, and we hope to bring a piece of ours into your place.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="furniture-design">
    <div class="container">
        <div class="row m-0">
            <div class="col-md-12 col-lg-6">
                <div class="content">
                    <h1>Solid Wood Furniture Designed to Last</h1>
                    <p>
                        Built to last, our wooden furniture is made to stand the test of time. Stylish and sturdy, solid wood furniture from Coastwood is guaranteed to be NZ made and of the highest quality available. We dedicate ourselves to producing pieces that are well-designed and fit for purpose. Not only can every item be customised to suit your requirements, but we are also committed to assisting you throughout the journey to find something that suits your space and your budget. We simplify the process by offering local and superior customer service that is here to help and support you. Coastwood Furniture is proud to supply quality NZ made pieces to enhance your home and add lasting luxury to your every day. We make it easy for you to purchase furniture in New Zealand that is designed to last and guaranteed to be of the highest quality. Browse our full catalogue of products available online and find your local stockist to visit and discover Coastwood’s collections in person.
                    </p>
                </div>
            </div>
            <div class="col-md-12 col-lg-6">
                <div class="image">
                    <img src="~/images/home-design.jpg" class="img-responsive" />
                </div>
            </div>
        </div>
    </div>
</section>
