
@{
    ViewBag.Title = "wrong";
}

<div class="container">
    <div class="row">
        <div class="col-md-12">

            <h1> Please check your Id and Password</h1>
            <a href="@Url.Action("Index","Manage")">Login Again</a>
        </div>

    </div>

</div>

